.container {
    padding: 15px;
    text-align: center;
}

button {
    margin-bottom: 5px !important;
}

button:last-child {
    margin-bottom: 0px !important;
}

.hidden {
    display: none;
}
/* very hacky */

body {
    height: 100px !important;
}

html {
    height: 100px !important;
}

input {
    margin-bottom: 10px;
}

div {
    animation-duration: 650ms !important;
}